USE [master]
GO
/****** Object:  Database [Bank]    Script Date: 26.06.2020 01:48:46 ******/
CREATE DATABASE [Bank]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Bank', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQL\MSSQL\DATA\Bank.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Bank_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQL\MSSQL\DATA\Bank_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Bank].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Bank]
GO
/****** Object:  Table [dbo].[Klient]    Script Date: 26.06.2020 01:48:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Klient](
	[IDklienta] [int] IDENTITY(1,1) NOT NULL,
	[Imię] [varchar](50) NOT NULL,
	[Nazwisko] [varchar](50) NOT NULL,
	[Hasło] [varchar](50) NOT NULL,
	[Gotówka] [int] NULL,
 CONSTRAINT [PK_Klient] PRIMARY KEY CLUSTERED 
(
	[IDklienta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Klient] ON 

INSERT [dbo].[Klient] ([IDklienta], [Imię], [Nazwisko], [Hasło], [Gotówka]) VALUES (1, N'Ewa', N'Mewa', N'haslonaprobE1', 100)
INSERT [dbo].[Klient] ([IDklienta], [Imię], [Nazwisko], [Hasło], [Gotówka]) VALUES (2, N'Jan', N'Kowalski', N'haslotesT1', 2)
INSERT [dbo].[Klient] ([IDklienta], [Imię], [Nazwisko], [Hasło], [Gotówka]) VALUES (3, N'dzialaj', N'prosze', N'bardzoladniE3', NULL)
SET IDENTITY_INSERT [dbo].[Klient] OFF
USE [master]
GO
